@font-face {
    font-family: 'druk_wide_trialbold';
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'druk_wide_trialmedium';
    src: url('./fonts/drukwide-medium-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: black;
}

h1 {
    color: rgb(255, 108, 75);
    font-family: 'druk_wide_trialbold';
    font-size: 80.9px;
    line-height: 67.5px;
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    width: 100%;
}

h2 {
    color: rgb(255, 108, 75);
    font-family: 'druk_wide_trialmedium';
    font-size:16.15px;
    line-height:18.3px;
    src: url('./fonts/drukwide-medium-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#and-symbol{
    font-family: Helvetica, sans-serif;
    font-weight: regular;  
}

blockquote{
    color: rgb(255, 108, 75);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size:20px;
    line-height:auto;
    width: 133.16px;
}

p{
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: auto;
    background-color: rgb(255, 108, 75);
    max-width: 302px;
    padding: 15px;
    margin: 0;
}

h3{color: black;
    font-family: 'druk_wide_trialbold';
    font-size: 60.37px;
    line-height: 98.5%;
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color: rgb(255, 108, 75);
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left:40px;
    padding-right:40px;
    width:100%
}

.emoticon{
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

h4{color: rgb(255, 108, 75);
    font-family: 'druk_wide_trialmedium';
    font-size: 18px;
    line-height:auto;
    src: url('./fonts/drukwide-medium-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.tab1 {
    margin-left: 20px;
}

.tab2 {
    margin-left: 40px;
}




#top-button{
    
    max-width: 50px;
    color: rgb(255, 108, 75);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 108, 75);
    padding-top: 21px;
    padding-bottom: 28px;
    padding-left: 19px;
    padding-right: 47px;  
}

#top-button:hover{
   color: black; 
   background-color: rgb(255, 108, 75);
}