@font-face {
    font-family: 'druk_wide_trialbold';
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'druk_wide_trialmedium';
    src: url('./fonts/drukwide-medium-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: black;
}


/* heading 1 */

#mobile-title {
    color: rgb(255, 108, 75);
    font-family: 'druk_wide_trialbold';
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: clamp(4.625rem, 11vw, 14.75rem);
    line-height: clamp(4.0625rem, 9.3vw, 14rem);
    margin: 14px -5px;
    margin-top: -22px;
}

#desktop-title {
    display: none;
}

#print-title {
    display: none;
}

/* heading 2 */

h2 {
    color: rgb(255, 108, 75);
    font-family: 'druk_wide_trialmedium';
    src: url('./fonts/drukwide-medium-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: clamp(0.875rem, 3vw, 2rem);
    line-height: clamp(17px, 2.7vw, 2.3rem);
    margin-top: -17px;
    margin-left: -5px;
}

/* heading 3 */

h3{
    color: black;
    font-family: 'druk_wide_trialbold';
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color: rgb(255, 108, 75);
    font-size: clamp(60.37px, 9vw, 100px);
    line-height: 98.5%;
    padding: 197px 36px 147px 36px;
    margin:auto;
    overflow: hidden;
}

.heading3 {
    margin-left: -8px;
    margin-right: -8px;
}
#desktop-h3-1 {
    position: absolute;
    display: none;
}

#desktop-h3-2 {
    position: absolute;
    display: none;
}

#desktop-h3-3 {
    position: absolute;
    display: none;
}

#empty-box2 {
    height: 71px;
}

/* heading 4 */

h4{ 
    color: rgb(255, 108, 75);
    font-family: 'druk_wide_trialmedium', Helvetica, sans-serif;
    font-size: 14.7px;
    font-size: clamp(14.7px, 3.5vw, 33px);
    line-height:auto;
    src: url('./fonts/drukwide-medium-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-medium-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    padding: 75px 69.5px;
    border: 3px solid rgb(255, 108, 75);
    margin: auto;
    margin-top: -18px;
    max-width: 45vw;
    text-align: center;
}

.tab1 {
    margin-left: 20px;
}

.tab2 {
    margin-left: 40px;
}

.define {
    margin-top: 98px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#table {
    text-align: left;
    padding-left: 20vw;
}

.simple {
    text-align: left;
}


/* symbol */

.and-symbol{
    font-family: Helvetica, sans-serif;
    font-weight: regular;  
}

/* blockquote*/

blockquote{
    color: rgb(255, 108, 75);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(20px, 2.4vw, 40px);
    line-height:auto;
    min-width: 230px;
    max-width: 700px;
    background-color: black;
    padding: 4px 0px 0px 10px;
    margin-top: -15vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
}

blockquote a {
    text-decoration: underline;
}

#empty-box {
    background-color: black;
    height: 142px;
}

#behind-box {
    width: 34%;
    height: 44%;
    aspect-ratio: 1/1;
    border: 3px solid rgb(255, 108, 75);
    margin-left: 20px;
    margin-top: 30px;
}

/* link */

a {
    text-decoration: none;
    color: rgb(255, 108, 75);
}

.text-link{
    text-decoration: underline;
    color: black;
}

/* orange boxes */

.orange-rec {
    max-width: 252px;
    height:53px;
    background-color: rgb(255, 108, 75);
    margin: auto;
    margin-top: -10px;
}

/* section */

section {
    background-color: rgb(255, 108, 75);
}

/* paragraph */

p{
    color: black;
    background-color:rgb(255, 108, 75);
    font-family: Helvetica, sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: auto;
    padding:15px 15px 8px 15px;
    margin: auto;
    min-width: 300px;
    max-width: 450px;
}

#p1 {
    padding-top: 24px;
    text-indent: 40px;
}

.bottom-p {
    padding-bottom: 16px;
}

.top-p {
    padding-top: 16px;
}

.p-space {
    margin-top: 71px;
    padding-top: 16px;
}

/* emoticon */

.emoticon{
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(60px, 8.9vw, 100px);
    margin-left: 38px;
}

/* top title section mobile */

.inline-square {
    width: 42%;
    height: 42%;
    aspect-ratio: 1 /1;
    border: 3px solid rgb(255, 108, 75);
    display: inline-block;
    margin-right: 2vw;
}

#bonus-square {
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
    }

#wrap-square {
    margin-left: -60px;
    margin-top: -80px;
    white-space: nowrap;
    max-width: 80%;
}

#inline-square-two {
    width: 102px;
    height: 110px;
    aspect-ratio: 1/1;
    border: 3px solid rgb(255, 108, 75);
    display: inline-block;
    margin-right: 2vw;
}

#inline-rec {
    width: 136px;
    height: 175px;
    aspect-ratio: 1 /1;
    border: 3px solid rgb(255, 108, 75);
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

#wrap-square-two {
    margin-left: 47px;
    margin-top: -251px;
    white-space: nowrap;
    max-width: 245px;
    max-width: 80%;
    max-height: 200px;
}

/* footer */

footer {
    display: flex;
    margin-bottom: 20px;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#top-button{
    max-width: 50px;
    color: rgb(255, 108, 75);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 108, 75);
    padding-top: 21px;
    padding-bottom: 25px;
    padding-left: 19px;
    padding-right: 47px; 
    margin-right: 10px;
}

#top-button:hover{
   background-color: rgb(255, 108, 75);
}

#top-button:hover a{
    color: black; 
}

.footer-box {
    width: 85px;
    height: 115.8px;
    border: 3px solid rgb(255, 108, 75);
    margin-right: 10px;
}

.footer-box:nth-child(1) {
    margin-left: 16px;
}

/* print content */

.page-number {
    display: none;
}

@media screen and (min-width:600px) and (max-width:840px){
    .inline-square {
        border: 4px solid rgb(255, 108, 75);
    }

    #wrap-square {
        margin-left: -4vw;
        margin-top: -18vh;
        margin-bottom: 4vh;
        max-width: 80%;
        min-height: 20vh;
    }    


    #inline-square-two {
        border: 4px solid rgb(255, 108, 75);
        width: calc(26.5vw + 1vw);
        height: calc(16vh * 2);
    }
    
    #inline-rec {
        border: 4px solid rgb(255, 108, 75);
        width: calc(36.2vw + 1vw);
        height: calc(26vh * 2);
    }

    #wrap-square-two {
        margin-left: 10vw;
    }
}
 
@media screen and (min-width:841px) and (max-width:1279px){
    
    .inline-square:first-child {
        border: 4px solid rgb(255, 108, 75);
        width: 250px;
        height: 260px;
        margin-right: 5vw;
    }

    .inline-square {
        border: 4px solid rgb(255, 108, 75);
    }

    #wrap-square {
        margin-left: 0vw;
        margin-top: -30vh;
        margin-bottom: 4vh;
        max-width: 80%;
    } 

    #inline-square-two {
        border: 4px solid rgb(255, 108, 75);
        width: 26.5vw;
        height: calc(16vh * 3.5);
        margin-top: -17vh;
        margin-right: 4vw;
        margin-left: 1vw;
    }
    
    #inline-rec {
        border: 4px solid rgb(255, 108, 75);
        width: calc(36.2vw + 10vw);
        height: calc(26vh * 2.5);
    }

    #wrap-square-two {
        margin-left: 13vw;
        margin-top: -40vh;
    }

    #behind-box {
        height: 50vh;
        border: 3px solid rgb(255, 108, 75);
        margin-left: 5vw;
        margin-top: 30px;
    }

    blockquote {
        margin-top: -18vh;
        margin-bottom: 15vh;
    }
}

@media screen and (min-width:1280px) {

/* heading 1 */

#desktop-title{
    display: block;
    font-size: 180px;
    line-height:150.5px;
    color: rgb(255, 108, 75);
    font-family: 'druk_wide_trialbold';
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    margin-top: -164px;
}

#mobile-title {
    display: none;
}

#print-title {
    display: none;
}

/* heading 2 */

h2{
    font-size:36px;
    line-height:40px;
    margin-top: -132px;
    position: absolute;
}

/* heaading 3 */

.mobile-h3 {
    display: none;
}

h3{
    color: black;
    font-family: 'druk_wide_trialbold';
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color: rgb(255, 108, 75);
    font-size:110px;
    line-height:98.5%;
    text-align: right;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* things have gotton messy havent they */

#desktop-h3-1 {
    display: block;
    position: relative;
}

#things {
    margin-left: 695px;
}

#have {
    margin-right:275px;
}

#gotten {
    margin-right: 350px;
}

#messy {
    margin-right: 20px;
}

#havent {
    margin-right: 150px;
}

#they {
    margin-right: 99px;
}

.space:first-child {
    margin-right: 50px;
}

.space:nth-child(2) {
    margin-right: 213px;
}

/* people only have so much patient*/

#desktop-h3-2 {
    display: block;
    position: relative;
}

#people {
    margin-right: 540px;
}

#only {
    margin-right: 872px;
}

#have1 {
    margin-right: 260px;
}

#somuch{
    margin-right: 15px;
}

#patien {
    margin-right: 650px;
}

#hyphen {
    margin-right: 480px;
}

#ce {
   margin-right: 310px;
}

#angry {
    font-size: 310px;
    margin-left: -75px;
    position: absolute;
}

/* go slow and fix things*/

#desktop-h3-3 {
    display: block;
    position: relative;
}

#and {
    margin-right: 290px;
}

#fix {
    margin-right: 700px;
}

#sunglasses {
    margin-right: 295px;
}

#dotdotface {
    margin-right: 575px;
}

.indent {
    margin-right: 20px;
}

#things1 {
    margin-right: 700px;
}

/* heading 4 */

h4{
    font-size: 35px;
    line-height:auto;
    max-width:500px;
    border: 5px solid rgb(255, 108, 75);
    margin-left: 10px;
    padding: 100px 50px;
}

.overlap {
    margin-top: -40px;
}

.tab1 {
    margin-left: 40px;
}

.tab2 {
    margin-left: 80px;
}

#table {
    padding-left: 150px;
    padding-top: 150px;
    padding-right: -50px;
    padding-bottom: 150px;
    margin-left: 0;
}

#float {
    margin-top: -370px;
    margin-left: 530px;
    margin-bottom: 270px;
}

.simple {
    margin-bottom: 200px;
    margin-left: 0;
}

#flex {
    margin-bottom: -60px;
    margin-left: 0;
}

#grid {
    margin-top: -60px;
    margin-bottom: 200px;
    margin-left: 0;
}

/*blockquote*/

blockquote{
    font-size: 30px;
    line-height:auto;
    margin-left: 140px;
    margin-top: -235px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 700px;
}    

#behind-box {
    width: 439px;
    height: 580px;
    border: 5px solid rgb(255, 108, 75);
    margin-left: 62px;
    margin-top: 56px;
}

/*emoticon*/

.emoticon {
    font-size:108.02px;
    line-height:auto;
}

/* top title section desktop */

#bonus-square {
    width: 360px;
    height: 382px;
    margin-left: 610px;
    margin-top: -208px;
    visibility: visible;
    }

.inline-square {
    border: 5px solid rgb(255, 108, 75);
}

.inline-square:first-child {
    width: 277px;
    height: 287px;
    margin-left: 60px;
    margin-top:-120px;
    margin-right: 65px;
}

.inline-square:nth-child(2) {
    width: 417px;
    height: 286px;
    margin-top: -110px;
}

#inline-square-two {
    width: 329px;
    height: 626px;
    margin-top: -263px;
    margin-left: 137.5px;
    margin-right: 54px;
    border: 5px solid rgb(255, 108, 75)
}

#inline-rec {
    width: 620px;
    height: 677px;
    margin-top: -101px;
    border: 5px solid rgb(255, 108, 75)
}

/* paragraph*/

p{
    max-width: 500px;
    line-height: 22px;
    font-size: 18px;
    margin-left: 10px;
    padding-left: 55px;
    padding-right: 707px;
}

#p1{
    padding-top: 120px;
    text-indent: 45px;
}

.top-p {
    padding-top: 30px;
}

.bottom-p {
    padding-bottom: 30px;
}

.define {
    margin-top: 98px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 55px;
}

#define-1{
    margin-left: 355px;
    margin-top: 150px;
}

#define-2 {
    margin-left: 0;
}

#define-4 {
    width: 450px;
    margin-left: 315px;
}

/* orange boxes */

.orange-rec {
    max-width: 560px;
    height: 130px;
    background-color: rgb(255, 108, 75);
    margin-left: 0;
    margin-top: -10px;
}

#or1 {
    margin-left: 0;
    margin-top: -300px;
    display: none;
}

#or2 {
    height: 100px;
    margin-left: 0;
}

#or3 {
    display: none;
}

/* footer */

.footer-box {
    width: 115.8px;
    height: 115.8px;
    border: 3px solid rgb(255, 108, 75);
    margin-right: 10px;
}

#top-button{
    margin-right: -35px;
    margin-left: 25px;
    margin-top: 35px;
}

}

/* print */

@media print {

:root {
    --background: white;
    --font-color: black;
}

body {
    background-color: var(--background);
}

/* heading 1 */

#print-title {
    display: block;
    color: var(--font-color);
    font-family: 'druk_wide_trialbold';
    src: url('./fonts/drukwide-bold-trial-demo.html') format('woff2'),
         url('./fonts/drukwide-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 45px;
    margin-left: -8px;
}

#mobile-title {
    display: none;
}

/* heading 2 */

h2 {
    color:var(--font-color);
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 50px;
    width: 650px;
}

/* heading 3 */

h3 {
    background-color: var(--background);
    color:var(--font-color);
    font-size: 20px;
    line-height: 22px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width:300px;
    padding: 0 ;
    padding-top: 20px;
}

/* heading 4 */

h4 {
    color: var(--font-color);
    border: 1px solid black;
    font-size: 14px;
    padding: 15px 0px;
    width: 160px;
    margin-top: 20px;
    margin-bottom: -40px;
}

#table {
    padding-left: 20px;
    padding-right: 20px;
}

.simple {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -10px;
}

/* blockquote */

blockquote {
    background-color: var(--background);
    color: var(--font-color);
    margin-top: 0;
    margin-left: -12px;
    width: 280px;
    font-size: 12px;
}

/* link */

blockquote a {
    color: var(--font-color);
    text-decoration: none;
}

a {
    text-decoration: none;
}

.text-link{
    text-decoration: none;
}
/* emoticon */

.emoticon {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

/* paragraph */

p {
    font-size: 12px;
    background-color: var(--background);
}

.define {
    margin-top: 70px;
}

#print-top-p {
    margin-top: 70px;
}

/* section */

section {
    background-color: var(--background);
}

#s1 {
    margin-top: -70px;
}

#s2 {
    margin-top: 100px ;
}

/* empty boxes */

#empty-box {
    display: none;
}

#empty-box2 {
    height: 20px;
}

/* web contents */

.orange-rec {
    display: none;
}

#wrap-square {
    display: none;
}

#wrap-square-two {
    display: none;
}

#behind-box {
    display: none;
}

.center {
    display: none;
}

}
